.admin-login-form-container{
  padding: 100px 0;
  .admin-login-form{
    background: white;
    border: 1px solid #dcdcdc;

    .login-form-header{
      padding: 20px;
      border-bottom: 1px solid #dcdcdc;
      text-align: center;
    }

    .form-inputs{
      padding: 20px;
    }
  }
}