// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-form-container{
  .order-form{
    background: white;
    border: 1px solid #dcdcdc;
    padding: 0;
    margin-right: 20px;

    .order-form-header{
      padding: 20px 30px;
      border-bottom: 1px solid #dcdcdc;
      margin-bottom: 20px;
    }
  }
  .order-form-summary-container{

    .order-form-summary{
      background: white;
      border: 1px solid #dcdcdc;
      padding: 0;

      .order-form-summary-header{
        padding: 20px 30px;
        border-bottom: 1px solid #dcdcdc;
      }

      .table{
        margin-bottom: 0;
      }

      .summary-products{

      }

      .summary-price-container{
        margin-bottom: 20px;

        .order-shipping-price-container{
          display: none;
        }
      }

      .order-buttons-container{
        padding: 0 15px 20px 15px;
      }
    }
  }
}

.orders-container{
  background: white;
  border: 1px solid #dcdcdc;
  .orders-header{
    padding: 20px 5px;
    background: white;
    align-items: center;

    .right-col{
      display: flex;
      justify-content: flex-end;
    }
  }
  .orders-table{
    background: white;
    margin-bottom: 0;

    th, td{
      padding: 10px 20px;
    }

    td{
      font-size: 15px;
      vertical-align: middle;

      .row{
        a{
          margin-right: 15px;
        }
      }
    }
  }

  .orders-notice{
    padding: 20px;
  }
}

.order-container{
  .order-info-container {
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;

    .order-header {
      background: white;
      padding: 15px 20px;

      div{
        padding: 0;
      }

      .order-actions-container{
        display: flex;
        justify-content: flex-end;
      }
    }
    .order-table {
      background: white;
      margin: 0;

      th{
        padding-left: 20px;
      }

      td {
        padding-left: 20px;

        .info-container{
          margin-bottom: 20px;
        }

        span {
          font-size: 15px;
          font-weight: bold;
          display: block;
          margin-bottom: 10px;
        }

        p {
          font-size: 15px;
        }
      }
    }

  }

  .order-items-container{
    background: white;
    border: 1px solid #dcdcdc;
    .order-items-header{
      padding: 15px 20px;
    }
    .order-items-table{
      margin: 0;

      th{
        padding-left: 20px;
      }
      td{
        padding-left: 20px;
      }
    }

    .order-shipping-info{
      background: #fafafa;
      border-bottom: 1px solid #dcdcdc;

      .table{
        margin: 0;

        th{
          padding-left: 20px;
        }

        td{
          width: 30%;
          padding-left: 20px;
        }
      }
    }
  }

  .order-summary{
    padding: 10px 20px;
    background: white;

    .row{
      padding: 0;
      justify-content: flex-end;

      table{
        margin: 0;
        td {
          border-top-color: transparent;
          padding: 10px;
          text-align: right;
        }
      }

      p{
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}