// Place all the styles related to the PaymentMethods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payment-methods-container{
  background: white;
  border: 1px solid #dcdcdc;
  .payment-methods-header{
    padding: 20px 5px;
    background: white;
    align-items: center;

    .right-col{
      display: flex;
      justify-content: flex-end;
    }
  }
  .payment-methods-table{
    background: white;
    margin-bottom: 0;

    th, td{
      padding: 10px 20px;
    }

    td{
      font-size: 15px;
      vertical-align: middle;

      .row{
        a{
          margin-right: 15px;
        }
      }
    }
  }

  .payment-methods-notice{
    padding: 20px;
  }
}

.payment-method-form-header{
  .payment-method-form-title{
    background: white;
    border: 1px solid #dcdcdc;
    padding: 10px 20px;
  }
}

.payment-method-form-container{
  .payment-method-form{
    background: white;
    border: 1px solid #dcdcdc;
    padding: 20px;

    label{
      font-weight: bold;
    }
  }
}