// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.single-product-container{
  background: white;
  border: 1px solid #dcdcdc;
  margin: 0 50px;
  .product-image-container{
    border-right: 3px solid #dcdcdc;

    .product-image {
      width: 100%;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .product-info-container{
    padding: 20px 30px;
    .product-info-header{
      margin-bottom: 20px;
    }

    .product-info{
      margin-bottom: 20px;

      p{
        font-size: 14px;
      }
    }

    .product-buttons-container{
      align-items: center;

      .product-price{
        margin-right: 20px;
      }

      .buy-product{
        padding: 5px 50px;
      }
    }
  }
}